<h1 class="text-center mt-3">star wars universe</h1>
  <div class="d-flex justify-content-center mt-3">
    <%= link_to planets_path do %>
      <i class="fas fa-globe mr-3" style="<%= "opacity:0.4" unless params[:planets] %>"></i>
    <% end %>
    |
    <i class="fas fa-user ml-3" style="<%= "opacity:0.4" if params[:planets] %>"></i>
  </div>

<div id="contentContainer" class="trans3d">
  <section id="carouselContainer" class="trans3d">
    <% @characters.each_with_index do |character, index| %>
      <figure id="item<%= index + 1 %>" class="planet trans3d" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path character.photo, height: 300, width: 300, crop: :fill %>')">
        <div class="characterInner trans3d">
          <%= character.name.downcase %>
        </div>
      </figure>
    <% end %>
  </section>
</div>
